<<<<<<< HEAD

=======
cd
>>>>>>> 6201d7d28efae0c00b6e51aeef11e5bf5f7ddc21
		#description-title{
			color: orange;
			font-size: 65px;
			font-family: 'Courier New', Courier, monospace;
			text-align: center;
		}	
		#list-one {
			background-color: yellow;
		}
		#list-two {
			background-color:red;
		}
		#list-three{
			background-color: saddlebrown;
		}
		.list-specie{
			background-color:slateblue;
		}
		#paragraph {
			font-weight: 600;
			font-size: 48px;
			text-decoration: underline;
		}

		body {
			font-size: 16px;
			font-style: italic;
			line-height: 30px;
		}