h1,p{
    text-align: center;
}
.list{
    list-style: none;
    
}

li:hover{
    background-color: blue;
}
li:active{

font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li:focus{
    background-color: antiquewhite;
}    
 