.super-mario {
    width: 200px;
    ;
  }
  
  .goomba {
    width: 100px;
		position: absolute;
		top: 380px;
		left: 30px;		}
  
  .baloon {
   left: 20px ;
  }
  
  .speach {
    font-size: 25px;
		position: absolute;
		left: 30px;
    top: 30px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    padding-left: 250px;
    top: 200px;
  }
  .text{
   position: absolute;
   
   bottom: 240px;
   left: 180px; 
  }